.theme-claude {
  --background: oklch(0.96 0.01 100.82);
  --foreground: oklch(0.34 0.03 95.72);
  --card: oklch(0.92 0.02 90.55);
  --card-foreground: oklch(0.34 0.03 95.72);
  --popover: oklch(0.92 0.02 99.61);
  --popover-foreground: oklch(0.27 0.02 98.94);
  --primary: oklch(0.56 0.13 43.00);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.85 0.05 298.88);
  --secondary-foreground: oklch(0.43 0.02 98.60);
  --muted: oklch(0.93 0.02 90.24);
  --muted-foreground: oklch(0.50 0.02 98.53);
  --accent: oklch(0.88 0.03 93.13);
  --accent-foreground: oklch(0.27 0.02 98.94);
  --destructive: oklch(0.64 0.21 25.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.86 0.01 97.47);
  --input: oklch(0.76 0.02 98.35);
  --ring: oklch(0.59 0.17 253.06);
  --chart-1: oklch(0.56 0.13 43.00);
  --chart-2: oklch(0.85 0.05 298.88);
  --chart-3: oklch(0.88 0.03 93.13);
  --chart-4: oklch(0.88 0.04 298.18);
  --chart-5: oklch(0.56 0.13 42.06);
  --sidebar: oklch(0.99 0 0);
  --sidebar-foreground: oklch(0.26 0 0);
  --sidebar-primary: oklch(0.33 0 0);
  --sidebar-primary-foreground: oklch(0.99 0 0);
  --sidebar-accent: oklch(0.98 0 0);
  --sidebar-accent-foreground: oklch(0.33 0 0);
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-ring: oklch(0.77 0 0);
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

  @variant dark {
    --background: oklch(0.29 0.01 106.73);
    --foreground: oklch(0.92 0.00 106.48);
    --card: oklch(0.25 0.01 91.60);
    --card-foreground: oklch(0.92 0.00 106.48);
    --popover: oklch(0.24 0.01 95.37);
    --popover-foreground: oklch(0.92 0.00 106.48);
    --primary: oklch(0.56 0.13 43.00);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.28 0.05 290.50);
    --secondary-foreground: oklch(0.84 0.01 93.59);
    --muted: oklch(0.27 0.01 91.58);
    --muted-foreground: oklch(0.77 0.02 99.07);
    --accent: oklch(0.21 0.01 95.42);
    --accent-foreground: oklch(0.97 0.01 98.88);
    --destructive: oklch(0.64 0.21 25.33);
    --destructive-foreground: oklch(1.00 0 0);
    --border: oklch(0.36 0.01 106.89);
    --input: oklch(0.43 0.01 100.22);
    --ring: oklch(0.59 0.17 253.06);
    --chart-1: oklch(0.56 0.13 43.00);
    --chart-2: oklch(0.28 0.05 290.50);
    --chart-3: oklch(0.21 0.01 95.42);
    --chart-4: oklch(0.31 0.05 289.32);
    --chart-5: oklch(0.56 0.13 42.06);
    --sidebar: oklch(0.99 0 0);
    --sidebar-foreground: oklch(0.26 0 0);
    --sidebar-primary: oklch(0.33 0 0);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.98 0 0);
    --sidebar-accent-foreground: oklch(0.33 0 0);
    --sidebar-border: oklch(0.94 0 0);
    --sidebar-ring: oklch(0.77 0 0);
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}
