@import "tailwindcss";
@import "./themes.css";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

:root {
  --background: oklch(0.77 0.2677 148.65);
  --foreground: oklch(0, 0, 100);
  --border: oklch(0, 0, 100);
  --ring: oklch(0, 0, 100);
}

.dark {
  --background: oklch(0.77 0.2159 360);
  --foreground: oklch(0, 0, 0);
  --border: oklch(0, 0, 0);
  --ring: oklch(0, 0, 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
