.theme-minimal {
  --background: oklch(0, 0, 0);
  --foreground: oklch(0, 0, 100);
  --muted: oklch(90% 0  0);
  --input: oklch(40% 0 0);
  --border: oklch(0, 0, 100);
  --ring: oklch(0, 0, 100);
  --radius: 0rem;

  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

  @variant dark {
    --background: oklch(18.81% 0.006 285.81);
    --foreground: oklch(0, 0, 0);
    --muted: oklch(10% 0 0);
    --input: oklch(40% 0 0);
    --border: oklch(100, 0, 0);
    --ring: oklch(0, 0, 100);
    --radius: 0rem;

    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  }
}

/*
border-ring
border-input
text-muted-foreground
ring
outline */
